/* styles.css */
#honey-jar {
  cursor: pointer;
  margin: 20px 0;
  transition: transform 0.3s;
}

#honey-jar:hover {
  transform: scale(1.05);
}

#invitation {
  background-color: #FFF8E1;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  border: 2px dashed #F9A825;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s, height 0.5s;
}

#invitation.show {
  opacity: 1;
  height: auto;
}

/* Móvil */
@media (max-width: 600px) {
  #honey-jar {
    width: 200px;
    height: auto;
  }
}
